doctype html 
html   
    head   
        title Hangman
        link(rel="stylesheet", href="../src/css/style.css")
    body 
        block content
            | !BODY!

        script(src="../dist/bundle.js")