block content
    .loader#loader 
    .container
        .main.main--hidden#section-main
            .main__header.heading_font
                h1 Hangman
                p Made by Lu-Vuong Le
                br
                p Can you keep 'Man' alive?
                br
                p -- Main Menu -- 
            .main__content
                .main__options
                        a(href="./?mode-single-category.html").main__btn.main__btn--left Single Player
                        a(href="./?mode-twoplayers-setup.html").main__btn.main__btn--right Two Players
                        a(href="").main__btn.main__btn--bottom Exit 
block scripts


