block content 
    .container
        .main
            .main__title
                h1 Hangman
            .main__content
                a(href="").main__btn Single Player 
                a(href="").main__btn Two Players 
                a(href="").main__btn Exit

