block content 
    .loader#loader
    .container
        .main.main--hidden.main--white#section-main
            .game__header.heading_font
                h1.animate_in_left.upper Single Player
                span.center.animate_in_top.upper Chosen Category: Food
                a(href="/").main__btn.width_auto.flex_right Home
            .game__content
                .game__content-word
                    .game__content-letter.game__content-letter--shown E
                    .game__content-letter.game__content-letter--hidden &nbsp;
                    .game__content-letter.game__content-letter--shown D
                    .game__content-letter.game__content-letter--hidden &nbsp;
                .game__content-ui
                    .game__content-hangman
                        img(src="http://via.placeholder.com/450x450" alt="lives")
                    .game__content-game-details
                        .game__content-guessed
                            h1.heading_font.upper  Letters Guessed
                            .game__content-letters.game__content-letters--white
                                .game__content-letter.game__content-letter--shown A
                                .game__content-letter.game__content-letter--shown E
                                .game__content-letter.game__content-letter--shown E
                                .game__content-letter.game__content-letter--shown E
                                .game__content-letter.game__content-letter--shown E
                                .game__content-letter.game__content-letter--shown E
                        .game__content-win-optinos
                .game__content-input 
                    .game__content-hints
                        button(type="button").hint_btn.width_auto.heading_font Use a Hint
                    .game__content-letters.game__content-letters--blue
                        .game__content-letter.game__content-letter--shown A
                        .game__content-letter.game__content-letter--shown B
                        .game__content-letter.game__content-letter--shown C
                        .game__content-letter.game__content-letter--shown D
                        .game__content-letter.game__content-letter--shown E
                        .game__content-letter.game__content-letter--shown F
                        .game__content-letter.game__content-letter--shown G
                        .game__content-letter.game__content-letter--shown H
                        .game__content-letter.game__content-letter--shown I
                        .game__content-letter.game__content-letter--shown J
                        .game__content-letter.game__content-letter--shown K
                        .game__content-letter.game__content-letter--shown L
                        .game__content-letter.game__content-letter--shown M
                        .game__content-letter.game__content-letter--shown N
                        .game__content-letter.game__content-letter--shown O
                        .game__content-letter.game__content-letter--shown P
                        .game__content-letter.game__content-letter--shown Q
                        .game__content-letter.game__content-letter--shown R
                        .game__content-letter.game__content-letter--shown S
                        .game__content-letter.game__content-letter--shown T
                        .game__content-letter.game__content-letter--shown U
                        .game__content-letter.game__content-letter--shown V
                        .game__content-letter.game__content-letter--shown W
                        .game__content-letter.game__content-letter--shown X
                        .game__content-letter.game__content-letter--shown Y
                        .game__content-letter.game__content-letter--shown Z
                h1.padding-sm.heading_font.center.upper.animate_in_left  Games Won: 0 
