block content
    .loader#loader 
    .container
        .main.main--hidden#section-main
            .main__header.heading_font
                h1 Category
                br
                p Pick a Cateogory
                br
                p -- Categories -- 
            .main__content
                .main__options
                    a(href="./?mode-single.html").main__btn.main__btn--left Food
                    a(href="").main__btn.main__btn--right Movies
                    a(href="/").main__btn.main__btn--bottom Back 

