block content 
    .container
        .main.main--hidden.main--grey#section-main
            .game__header.heading_font
                h1.animate_in_left.upper Single Player
                span.center.animate_in_top.upper#category_span 
                a(href="/").main__btn.width_auto.flex_right Home
            .game__content
                .game__content-ui
                    .game__content-game-details
                        .game__content-guessed
                            h1.heading_font.center.animate_in_left.light-red  Letters Guessed
                            .game__content-letter-cont.game__content-letters--white#game__content-letter-guessed-cont
                                //- .game__content-letter.game__content-letter--guessed 
                                //-     span.game__content-letter-text A
                                //- .game__content-letter.game__content-letter--guessed 
                                //-     span.game__content-letter-text B
                                //- .game__content-letter.game__content-letter--guessed 
                                //-     span.game__content-letter-text R
                                //- .game__content-letter.game__content-letter--guessed 
                                //-     span.game__content-letter-text I
                                //- .game__content-letter.game__content-letter--guessed 
                                //-     span.game__content-letter-text O
                                //- .game__content-letter.game__content-letter--guessed 
                                //-     span.game__content-letter-text U
                                    
                        .game__content-hints
                            button(type="button")#game__content-hints_btn.hint_btn.width_auto.heading_font 
                        
                    .game__content-hangman
                        .game__content-word#game__content-word
                            //- .game__content-letter.game__content-letter--hidden &nbsp;
                            //- .game__content-letter.game__content-letter--hidden &nbsp;
                            //- .game__content-letter.game__content-letter--shown
                            //-     span.game__content-letter-text D
                            //- .game__content-letter.game__content-letter--hidden &nbsp;
                        
                        .game__content-img
                            img(src="" alt="lives")#hangman_img

                        .game__content-win-options
                            //- button(type="button").hint_btn.width_auto.heading_font 
                            //-     | Show Score
                            button(type="button").hint_btn.width_auto.heading_font#next_round
                                | Next Round
 
                .game__content-input 
                    .game__content-letters.game__content-letters--blue
                        .game__content-letter.game__content-letter--input A
                        .game__content-letter.game__content-letter--input B
                        .game__content-letter.game__content-letter--input C
                        .game__content-letter.game__content-letter--input D
                        .game__content-letter.game__content-letter--input E
                        .game__content-letter.game__content-letter--input F
                        .game__content-letter.game__content-letter--input G
                        .game__content-letter.game__content-letter--input H
                        .game__content-letter.game__content-letter--input I
                        .game__content-letter.game__content-letter--input J
                        .game__content-letter.game__content-letter--input K
                        .game__content-letter.game__content-letter--input L
                        .game__content-letter.game__content-letter--input M
                        .game__content-letter.game__content-letter--input N
                        .game__content-letter.game__content-letter--input O
                        .game__content-letter.game__content-letter--input P
                        .game__content-letter.game__content-letter--input Q
                        .game__content-letter.game__content-letter--input R
                        .game__content-letter.game__content-letter--input S
                        .game__content-letter.game__content-letter--input T
                        .game__content-letter.game__content-letter--input U
                        .game__content-letter.game__content-letter--input V
                        .game__content-letter.game__content-letter--input W
                        .game__content-letter.game__content-letter--input X
                        .game__content-letter.game__content-letter--input Y
                        .game__content-letter.game__content-letter--input Z
    //- .game-result.hidden   
    //-     h1.padding-sm.heading_font.center.upper.animate_in_left  Games Won: 0 
block scripts
    script(src="../../src/js/app.js")