block content 
    .container
        .main.main--hidden.main--grey#section-main
            .game__header.heading_font
                h1.animate_in_left.upper Two Players
                span.center.animate_in_top.upper#player_to_guess Player To Guess:  
                a(href="/").main__btn.width_auto.flex_right Home
            .game__content
                .game__content-ui
                    .game__content-game-details
                        .game__content-guessed
                            h1.heading_font.center.animate_in_left.upper.light-red  Letters Guessed
                            .game__content-letter-cont.game__content-letters--white#game__content-letter-guessed-cont
                        .game__content-hints
                            button(type="button")#game__content-hints_btn.hint_btn.width_auto.heading_font 
                        
                    .game__content-hangman
                        .game__content-word#game__content-word   
                        .game__content-img
                            img(src="" alt="lives")#hangman_img
                        .game__content-win-options
                            button(type="button")#show_score.hint_btn.width_auto.heading_font 
                                | Show Score
                            button(type="button").hint_btn.width_auto.heading_font#next_round
                                | Next Round
 
                .game__content-input 
                    .game__content-letters.game__content-letters--blue
                        .game__content-letter.game__content-letter--input A
                        .game__content-letter.game__content-letter--input B
                        .game__content-letter.game__content-letter--input C
                        .game__content-letter.game__content-letter--input D
                        .game__content-letter.game__content-letter--input E
                        .game__content-letter.game__content-letter--input F
                        .game__content-letter.game__content-letter--input G
                        .game__content-letter.game__content-letter--input H
                        .game__content-letter.game__content-letter--input I
                        .game__content-letter.game__content-letter--input J
                        .game__content-letter.game__content-letter--input K
                        .game__content-letter.game__content-letter--input L
                        .game__content-letter.game__content-letter--input M
                        .game__content-letter.game__content-letter--input N
                        .game__content-letter.game__content-letter--input O
                        .game__content-letter.game__content-letter--input P
                        .game__content-letter.game__content-letter--input Q
                        .game__content-letter.game__content-letter--input R
                        .game__content-letter.game__content-letter--input S
                        .game__content-letter.game__content-letter--input T
                        .game__content-letter.game__content-letter--input U
                        .game__content-letter.game__content-letter--input V
                        .game__content-letter.game__content-letter--input W
                        .game__content-letter.game__content-letter--input X
                        .game__content-letter.game__content-letter--input Y
                        .game__content-letter.game__content-letter--input Z
    .game-result#score_board
        .game-result__options  
            h1.padding-sm.heading_font.center.upper.animate_in_left  Game Scores:
            span.game-result__close#game-result__close &times;
        .game-result__scores
            .game-result__score-flex
                h1.padding-sm.heading_font.upper.animate_in_left#game-result__p1Name  Player 1
                br  
                h1.padding-sm.heading_font.center.upper.animate_in_left#game-result__p1Score 0
            .game-result__score-flex
                h1.padding-sm.heading_font.center.upper.animate_in_left#game-result__p2Name  Player 2 
                br  
                h1.padding-sm.heading_font.center.upper.animate_in_left#game-result__p2Score 0
block scripts
    script(src="../../src/js/tpManager.js")