.main {
    // Bug Fixes | Overrides | Misc
    overflow: hidden;

    // Width | Height
    width: 65%;
    height: 90%;

    @media screen and (max-width: 1300px) {
        height: 92%;
    }

    // Display | Positioning
    position: absolute;
    top: 50%;
    left: 50%;

    // Background | Colours | Fonts 

    // Transitions | Animations
    animation: fadeIn 1s ease-in;
    transform: translate(-50%, -50%);

    &--hidden {
        visibility: hidden;
        opacity: 0;
    }

    &__content {
        width: 100%;
        height: 50%;

        position: relative;

        margin: 3rem 0;
    }

    &__options {
        width: 50%;

        display: flex;
        flex-flow: column;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;
        font-size: 1.5rem;
    }

    &--white {
       background: rgba(255, 255, 255, 1);
       border: .8rem double #3498db;
    }
}