.tp__title {
    margin-top: 3rem;
}

.tp__input {
    width: 80%;
    padding: 1rem;
    display: flex;
    margin: 1rem auto;
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}

.tp__input::-webkit-input-placeholder {
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}

.tp__input:-ms-input-placeholder {
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}

.tp__input:-moz-placeholder {
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}

.tp__input::-moz-placeholder {
    font-family: 'Audiowide', Arial, Helvetica, sans-serif;
}