
<div class="loader" id="loader"> </div>
<div class="container">
  <div class="main main--hidden" id="section-main">
    <div class="main__header heading_font">
      <h1>Hangman</h1>
      <p>Made by Lu-Vuong Le</p><br/>
      <p>Can you keep 'Man' alive?</p><br/>
      <p>-- Main Menu -- </p>
    </div>
    <div class="main__content">
      <div class="main__options"><a class="main__btn main__btn--left" href="./?mode-single-category.html">Single Player</a><a class="main__btn main__btn--right" href="./?mode-twoplayers-setup.html">Two Players</a><a class="main__btn main__btn--bottom" href="">Exit </a></div>
    </div>
  </div>
</div>