
<div class="loader" id="loader"> </div>
<div class="container">
  <div class="main main--hidden" id="section-main">
    <div class="main__header">
      <h1>Hangman</h1>
      <p>Made by Lu-Vuong Le</p><br/>
      <p>-- Main Menu -- </p>
    </div>
    <div class="main__content">
      <div class="main__options"><a class="main__btn main__btn--left" href="">Single Player</a><a class="main__btn main__btn--right" href="">Two Player</a><a class="main__btn main__btn--bottom" href="">Exit </a></div>
    </div>
  </div>
</div>