
<div class="loader" id="loader"></div>
<div class="container">
  <div class="main main--hidden main--white" id="section-main">
    <div class="game__header heading_font">
      <h1 class="animate_in_left upper">Single Player</h1><span class="center animate_in_top upper">Chosen Category: Food</span><a class="main__btn width_auto flex_right" href="/">Home</a>
    </div>
    <div class="game__content">
      <div class="game__content-ui">
        <div class="game__content-game-details">
          <div class="game__content-guessed">
            <h1 class="heading_font upper center animate_in_left"> Letters Guessed</h1>
            <div class="game__content-letters game__content-letters--white">
              <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">A</span></div>
              <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">B</span></div>
              <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">R</span></div>
              <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">I</span></div>
              <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">O</span></div>
              <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">U</span></div>
            </div>
          </div>
        </div>
        <div class="game__content-hangman">
          <div class="game__content-word">
            <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">E</span></div>
            <div class="game__content-letter game__content-letter--hidden">&nbsp;</div>
            <div class="game__content-letter game__content-letter--shown"><span class="game__content-letter-text">D</span></div>
            <div class="game__content-letter game__content-letter--hidden">&nbsp;</div>
          </div>
          <div class="game__content-img"><img src="http://via.placeholder.com/450x450" alt="lives"/></div>
          <div class="game__content-win-optinos"></div>
        </div>
      </div>
      <div class="game__content-input"> 
        <div class="game__content-hints">
          <button class="hint_btn width_auto heading_font" type="button">
             Use a Hint <br/><br/>You have 0 Left</button>
        </div>
        <div class="game__content-letters game__content-letters--blue">
          <div class="game__content-letter game__content-letter--shown"><span class="game__content-letter-text">A</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">B</span></div>
          <div class="game__content-letter game__content-letter--shown"><span class="game__content-letter-text">C</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">D</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">E</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">F</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">G</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">H</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">I</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">J</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">K</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">L</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">M</span></div>
          <div class="game__content-letter game__content-letter--shown"><span class="game__content-letter-text">N</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">O</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">P</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">Q</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">R</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">S</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">T</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">U</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">V</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">W</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">X</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">Y</span></div>
          <div class="game__content-letter game__content-letter--shown"> <span class="game__content-letter-text">Z</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="game-result">  
  <h1 class="padding-sm heading_font center upper animate_in_left"> Games Won: 0 </h1>
</div>