
<div class="container">
  <div class="main" id="section-main">
    <div class="main__header heading_font">
      <h1>Category</h1><br/>
      <p>Pick a Cateogory</p><br/>
      <p>-- Categories -- </p>
    </div>
    <div class="main__content">
      <div class="main__options"><a class="main__btn main__btn--left category" href="./?mode-single.html">Food</a><a class="main__btn main__btn--right category" href="./?mode-single.html">Movies</a><a class="main__btn main__btn--bottom" href="/">Back </a></div>
    </div>
  </div>
</div>
<script src="../../src/js/category.min.js"></script>