@import url("https://fonts.googleapis.com/css?family=Nanum+Brush+Script");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding");
@import url("https://fonts.googleapis.com/css?family=Audiowide");
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.center {
  text-align: center !important; }

.width_auto {
  width: auto !important; }

.flex_right {
  margin: 0 0 0 auto !important; }

.padding-sm {
  padding: 1rem; }

.heading_font {
  font-family: 'Audiowide', cursive; }

.upper {
  text-transform: uppercase; }

.animate_in_left {
  animation: moveInLeft 1s ease; }

.animate_in_top {
  animation: moveInTop 2s ease; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: rgba(0, 0, 0, 0.8);
  font-family: 'Nanum Gothic Coding', monospace; }

.container {
  width: 100%;
  height: 100%; }

.main__btn {
  color: #fff;
  padding: 2rem;
  margin: 1rem auto;
  width: 60%;
  letter-spacing: .5rem;
  background: rgba(137, 208, 255, 0.76);
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .4s;
  position: relative; }
  .main__btn::after {
    content: "";
    width: 0;
    height: .3rem;
    display: block;
    margin: auto;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0%;
    background: #ccc;
    transition: all .4s ease-in-out; }
  .main__btn:hover::after {
    width: 100%;
    background: #38788d;
    left: 0%;
    right: 0%; }
  .main__btn:hover {
    width: 100%; }
  .main__btn--left {
    animation: moveInLeft 1s ease-in; }
  .main__btn--right {
    animation: moveInRight 2s ease-in; }
  .main__btn--bottom {
    animation: moveInBottom 3s ease-in; }

.hint_btn {
  color: #fff;
  padding: 4rem;
  letter-spacing: .5rem;
  background: rgba(137, 208, 255, 0.76);
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .4s;
  position: relative; }
  .hint_btn::after {
    content: "";
    width: 0;
    height: .3rem;
    display: block;
    margin: auto;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0%;
    background: #ccc;
    transition: all .4s ease-in-out; }
  .hint_btn:hover::after {
    width: 100%;
    background: #38788d;
    left: 0%;
    right: 0%; }
  .hint_btn:hover {
    width: 100%; }
  .hint_btn--left {
    animation: moveInLeft 1s ease-in; }
  .hint_btn--right {
    animation: moveInRight 2s ease-in; }
  .hint_btn--bottom {
    animation: moveInBottom 3s ease-in; }

.loader {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1.6rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1.6rem solid #3498db;
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
  z-index: 1; }
  .loader__hidden {
    transition: .5s ease;
    visibility: hidden;
    opacity: 0; }

.main__header {
  width: 100%;
  height: 20%;
  padding: 5rem 1.5rem;
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .6rem;
  animation: moveInTop .5s ease-in; }
  .main__header > p {
    font-size: 1rem; }
  .main__header--black {
    color: #000; }

.game__header {
  height: 10%;
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #d4d4d4; }
  .game__header > h1 {
    padding: 1rem; }
  .game__header > span {
    margin: 0 0 0 auto;
    align-self: center;
    font-size: 2rem;
    font-weight: bold; }

.game__content {
  position: relative;
  height: 90%;
  /* *** HANGMAN: WORD CSS BEGIN ** */
  /* *** HANGMAN: WORD CSS END ** */
  /* *** HANGMAN: UI CSS BEGIN ** */
  /* *** HANGMAN: WORD CSS END ** */ }
  .game__content-word {
    display: flex;
    align-content: center;
    justify-content: center;
    background: lightblue; }
  .game__content-letter {
    text-align: center;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold; }
    .game__content-letter--hidden::after {
      content: "";
      display: inline-block;
      width: 100%;
      font-size: 2rem;
      border-bottom: 1px solid #aaa;
      text-align: center; }
    .game__content-letter--shown {
      color: #fff;
      background: rgba(52, 152, 219, 0.8);
      font-size: 1.6rem;
      padding: 1rem;
      cursor: pointer;
      transition: all .5s; }
      .game__content-letter--shown:hover {
        transform: scale(1.3); }
  .game__content-ui {
    padding: .5em;
    display: flex; }
  .game__content-hangman {
    width: 45%;
    padding: 2.3rem; }
  .game__content-game-details {
    width: 50%;
    display: flex;
    flex-flow: column;
    padding: 2.3rem 3rem; }
  .game__content-guessed {
    display: grid; }
  .game__content-letters {
    display: flex;
    flex-flow: wrap; }
    .game__content-letters--white {
      background: #fff; }
    .game__content-letters--blue {
      background: lightblue; }
  .game__content-input {
    display: flex;
    height: auto; }
  .game__content-hints {
    text-transform: uppercase;
    width: auto;
    padding: 0; }

.main {
  width: 65%;
  height: 90%;
  min-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: fadeIn 1s ease-in;
  transform: translate(-50%, -50%); }
  .main--hidden {
    visibility: hidden;
    opacity: 0; }
  .main__content {
    width: 100%;
    height: 50%;
    position: relative;
    margin: 3rem 0; }
  .main__options {
    width: 50%;
    display: flex;
    flex-flow: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem; }
  .main--white {
    background: white;
    border: .8rem solid #3498db; }
